{% extends 'Divine/base.html' %}



{% block title %} Our Ebooks {% endblock %}

{% block EbooksActive %} clicked {% endblock %}

    

{% block body %} 
<div class="container-gap-white">

    <h1 class="h1-color"> E-books </h1>
          
    <!-- The search field -->
    <form method="GET" action="{% url 'search_ebooks' %}">
        <fieldset class="field-container">
            <input type="text" name="search"  placeholder="Search for e-books" class="field" value="{{ search_term }}" />
            <div class="icons-container">
                <div class="icon-search" onclick="document.forms[0].submit()"></div>
                <div class="icon-close">
                <div class="x-up"></div>
                <div class="x-down"></div>            
            </div>
        </fieldset>
    </form>

    
    <div class="ebook-container" >
        {% for book in ebooks %}
        <div class="ebook-content">
            <div>
                <img src="{{book.image.url}}" alt="popular post one" onclick="window.open(this.src)">
            </div>
            <div class="ebook-info">
                <h3>{{book.name}} By <span class="h1-color2">{{book.author}}</span></h3>                                    
                <span>{{book.description|truncatewords:20}}</span>
                <br>
                <a href="{{book.file.url}}" download>
                    <button class="btn blog-btn">Download</button>
                </a>
            </div>
        </div> 
        {% empty %}
            <h2>No item found !</h2>
        {% endfor %}
    </div>
    
    <div class="pagination flex-row">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% comment %} <a href='?page=1' class="page">First</a> {% endcomment %}
                <a href='?page={{ page_obj.previous_page_number}}'><i class="fas fa-chevron-left"></i></a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a style='background:#3f4954;' href='?page?{{ num }}' class="page">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href='?page={{num}}'>{{ num }}</a>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <a href='?page={{ page_obj.next_page_number}}'><i class="fas fa-chevron-right"></i></a>
                {% comment %} <a href='?page={{ page_obj.paginator.num_pages }}' class="page">Last</a> {% endcomment %}
            {% endif %}
        {% endif %}  
     </div>            
</div>

{% endblock %} 